#page .column {
	float: left;
	/*border: 1px solid #aaa;
	padding: 10px;*/
	margin: 0 40px 0 0;
	width: 960px;
}

#page .apiObject {
	border: 2px solid #ddd;
	padding: 5px 12px;
	margin: 0 0 10px 0;
	position: relative;
	background: #fcfcfc;
	width: 430px;
}

#page .apiObject.disabled {
	opacity: 0.3;
}

#page .status {
	position: absolute;
	right: 10px;
	top: 10px;
}

#page .videoContainer {
	position: relative;
	width: 400px;
	height: 300px;
	background: #f3f3f3;
}

#page video {
	position: absolute;
	border: 1px solid #ccc;
}

#page .remoteVideo {
	width: 400px;
	height: 300px;
	left: 0;
	top: 0;
}

#page .localVideo {
	width: 100px;
	height: 75px;
	left: 5px;
	top: 5px;
}

#page .buttons pre {
	display: none;
}

#page pre {
	line-height: 0;
}

.ui-tooltip {
	padding: 8px;
	position: absolute;
	z-index: 9999;
	max-width: 400px;
	-webkit-box-shadow: 0 0 5px #aaa;
	box-shadow: 0 0 5px #aaa;
}
body .ui-tooltip {
	border: 1px solid #c62020;
	background: #fff;
	color: #000;
}

#page input[type='button'] {
	margin-right: 5px;
	/*border: 1px solid #888;
	padding: 10px;
	border-radius: 8px;
	background: rgb(255,255,255);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(221,221,221,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(221,221,221,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(221,221,221,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(221,221,221,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(221,221,221,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(221,221,221,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dddddd',GradientType=0 );*/
}

#page input[type='button'][disabled] {
	cursor: default;
	color: #aaa;
	border-color: #aaa;
	background: rgb(204,204,204);
	background: -moz-linear-gradient(top, rgba(204,204,204,1) 0%, rgba(238,238,238,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(204,204,204,1)), color-stop(100%,rgba(238,238,238,1)));
	background: -webkit-linear-gradient(top, rgba(204,204,204,1) 0%,rgba(238,238,238,1) 100%);
	background: -o-linear-gradient(top, rgba(204,204,204,1) 0%,rgba(238,238,238,1) 100%);
	background: -ms-linear-gradient(top, rgba(204,204,204,1) 0%,rgba(238,238,238,1) 100%);
	background: linear-gradient(to bottom, rgba(204,204,204,1) 0%,rgba(238,238,238,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#eeeeee',GradientType=0 );
}

#page h3, h4, .buttons, .getmedia {
	clear: both;
}

#page .helpButton {

	height:20px;
	padding-top:0px;

}



/* clearfix */
#page .buttons:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
#page .buttons {
	display: inline-block;
}
 
html[xmlns] .buttons {
	display: block;
}
 
* html .buttons {
	height: 1%;
}